body {
  background: linear-gradient(
    90deg,
    rgb(223, 185, 182),
    #ffff,
    rgb(179, 195, 214)
  );
}

header {
  position: static;
}

main ul {
  width: 800px;
  margin: 0 auto;
}

main li {
  display: flex;
  background-color: #ffff;
}

main li img {
  width: 300px;
  height: 280px;
}

.loc-description {
  padding: 25px;
}
